<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058774054346-omhofgn8adprnqrgak75ct3eonko8t6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058774054346-omhofgn8adprnqrgak75ct3eonko8t6m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058774054346-cqgf0trtu4skerde2tat7l1geojjiar7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKgtqtEO5xpxj5wyQdbKUqaN88Bs08FWA</string>
	<key>GCM_SENDER_ID</key>
	<string>1058774054346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUix</string>
	<key>PROJECT_ID</key>
	<string>precioapp-3d71d</string>
	<key>STORAGE_BUCKET</key>
	<string>precioapp-3d71d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058774054346:ios:fa6ffee95b1d54d00f0b33</string>
</dict>
</plist>